    <form>
        <div class="form-group">
            <label for="usernameSignup">What's your username?</label>
            <input type="text" class="form-control" id="usernameSignup" placeholder="pastamonsta">
        </div>
        <div class="form-group">
            <label for="emailSignup" >Email address</label>
            <input type="email" class="form-control" id="emailSignup" aria-describedby="emailHelp" placeholder="pastamonsta@gmail.com">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else, willingly.</small>
        </div>
        <div class="form-group">
            <label for="passwordSignup">Password</label>
            <input type="password" class="form-control" id="passwordSignup" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>