<div id="wordbox">
    <div class="title">Füdi</div>
    <div class="landinfo">Do you love food?<br />Consider yourself a foodie?<br />We think you're cool, so come on in!</div>
    <button id="login" type="button" class="btn btn-sm btn-light" style="background-color: #e3f2fd;">Log in</button>
    <button id="join" type="button" class="btn btn-sm btn-light" style="background-color: #e3f2fd;">Join!</button>    
</div>

<div id="carouselunit" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active" data-interval="">
            <img src="http://lorempixel.com/1200/801/food" class="d-block w-100 img-fluid img-responsive" alt="Responsive image">
        </div>
        <div class="carousel-item" data-interval="">
            <img src="http://baconmockup.com/1200/800/" class="d-block w-100 img-fluid img-responsive" alt="Responsive image">
        </div>
        <div class="carousel-item" data-interval="">
            <img src="http://lorempixel.com/1200/800/food" class="d-block w-100 img-fluid img-responsive" alt="Responsive image">
        </div>
    </div>
</div>


<!-- <a href="/articles">Check out my sweet articles</a> -->
