body {
  background-color: white;
  font-family: 'Permanent Marker', cursive;
}

#togicon {
  width:  18px;
  height: 18px;
}

#bar {
  -webkit-bos-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}
